<html>
    {{ partial "head.html" . }}

    <body>
        <div class="container is-fluid" style="padding-left: 10%; padding-right: 10%">

            <div class="content pt-6">
                {{ partial "header.html" . }}

                <p>
                    Hi, my name is Luke, this is my website.
                </p>
        
                <p>
                    There's a <a href="/blog/">blog</a> if you're interested.
                </p>
        
                <p>
                    I made some other stuff as well:
                    <ul>
                        <li><a target="_blank" href="https://ocrs.online">OCRS</a></li>
                        <li><a target="_blank" href="https://understandingreligion.org.uk">Understanding Religion</a></li>
                        <li><a target="_blank" href="https://ufohistory.netlify.app">UFO History</a></li>
                        <li><a target="_blank" href="https://educationfunding.uk">Education Funding UK</a></li>
                    </ul>
                </p>
        
                <p>
                    Have a nice day :)
                </p>
            </div>
            
        </div>
        
    </body>
</html>